@model XSS_Victim.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
<h2>Use a local account to log in.</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        <input type="submit" value="Log in" />
    </fieldset>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}
</section>


@*<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- General meta information -->
    <title>Login</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="robots" content="index, follow" />
    <meta charset="utf-8" />
    <!-- // General meta information -->
    <!-- Load Javascript -->
    <script type="text/javascript" src="./js/jquery.js"></script>
    <script type="text/javascript" src="./js/jquery.query-2.1.7.js"></script>
    <script type="text/javascript" src="./js/rainbows.js"></script>
    <!-- // Load Javascipt -->
    <!-- Load stylesheets -->
    <link type="text/css" rel="stylesheet" href="css/login-style.css" media="screen" />
    <!-- // Load stylesheets -->

    <script>
        $(document).ready(function () {
            $("#submit1").hover(
            function () {
                $(this).animate({ "opacity": "0" }, "slow");
            },
            function () {
                $(this).animate({ "opacity": "1" }, "slow");
            });
        });
    </script>
</head>
<body>
    <div id="wrapper">
        <div id="wrappertop"></div>

        <div id="wrappermiddle">

            <h2>Login</h2>

            <div id="username_input">
                <div id="username_inputleft"></div>

                <div id="username_inputmiddle">
                    <form>
                        <input type="text" name="link" id="url" value="E-mail Address" onclick="this.value = ''">
                        <img id="url_user" src="./images/mailicon.png" alt="">
                    </form>
                </div>

                <div id="username_inputright"></div>
            </div>

            <div id="password_input">
                <div id="password_inputleft"></div>

                <div id="password_inputmiddle">
                    <form>
                        <input type="password" name="link" id="url" value="Password" onclick="this.value = ''">
                        <img id="url_password" src="./images/passicon.png" alt="">
                    </form>
                </div>

                <div id="password_inputright"></div>
            </div>

            <div id="submit">
                <form>
                    <input type="image" src="./images/submit_hover.png" id="submit1" value="Sign In">
                    <input type="image" src="./images/submit.png" id="submit2" value="Sign In">
                </form>
            </div>

            <div id="links_left"><a href="#">Forgot your Password?</a></div>
            <div id="links_right"><a href='@Url.Action("Register")'>Not a Member Yet?</a></div>
        </div>

        <div id="wrapperbottom"></div>
    </div>

</body>
</html>*@