<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title - XSS Victims Network</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/css/Site.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/fb-buttons.css">
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/jquery.masonry.min.js"></script>

    <link href="~/Content/css/RoyaOptionItemStyle.css" rel="stylesheet" />
    <link href="~/Content/css/RoyaToolTip.css" rel="stylesheet" />

    <script>
        $(function () {

            function Arrow_Points() {
                var s = $('#container').find('.item');
                $.each(s, function (i, obj) {
                    var posLeft = $(obj).css("left");
                    $(obj).addClass('borderclass');
                    if (posLeft == "0px") {
                        html = "<span class='rightCorner'></span>";
                        $(obj).prepend(html);
                    }
                    else {
                        html = "<span class='leftCorner'></span>";
                        $(obj).prepend(html);
                    }
                });
            }
            // Divs
            $('#container').masonry({ itemSelector: '.item', });
            Arrow_Points();

        });
    </script>
</head>
<body>
    <header>
        <span class="WebsiteTitle"><a href="/">XSS Victim's Social Network!</a></span>

        <div class="LoginRegisterSection">
            <a class="uibutton icon add" href='@Url.Action("Register", "Account")'>Register</a>
            <a class="uibutton icon add" href='@Url.Action("Login", "Account")'>Login</a>
        </div>
        
        <div style="clear:both;"></div>
    </header>

    @RenderSection("Header", false)

    <div class="Content">
        @RenderBody()
    </div>

    <div class="Content">
		@RenderSection("Footer", false)
	</div>
	
    <hr style="color:#c00;background-color:#ccc;height:1px;border:none; width:999px;" />
    <div id="subfooter" style="width:980px; margin:5pt auto 15pt auto; display: block">
        <div id="sfleft" style="font:10pt tahoma;line-height:22px; text-align: left;">
            Mohammad Taghi Jahed | .Net engineer | taghi.jahed@yahoo.com | 3044337163
            <br/>
            You can download the code from <a style="font-weight: bold;" href="https://github.com/DrTJ/XSS_Victim/tree/processa">Github! [ https://github.com/DrTJ/XSS_Victim ]</a>
        </div>
    </div>
</body>
</html>